.navigation {
  display: flex;
  flex-direction: column;
  width: 88px;
  max-height: 100vh;
  padding-left: 8px;

  position: fixed;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
  scrollbar-width: 0px;

  max-height: 710px;
  &::-webkit-scrollbar {
    display: none;
  }
}
