.page-wrapper {
  background-color: white;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #E2E8F0;
}

.section-title {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
}

.section-content {
    display: flex;
    flex-flow: row;
}
