.page-wrapper {
  background-color: white;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
}

.section-title {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
}

.section-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  gap: 8px;
}
