.App {
  text-align: center;
  overflow-y: hidden;
  height: 710px;
}

.page-content {
  width: 287px;
  margin-left: 88px;
  height: 710px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.default-item {
  &:hover {
    color: #4a5568 !important;
  }
}

.custom-page {
  background-color: #e6f1ff !important;
}
