.iconbutton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

  background-color: transparent !important;
  border: 0px !important;
  padding: 5px;
  border-radius: 4px;
  padding: 8px;
  color: #4a5568;
  cursor: pointer;
  width: 80px;
  height: 100px;

  &:hover,
  &.active {
    background-color: #e6f1ff !important;
    color: #3280f6;
  }
}

.default-icon {
  width: 40px;
  height: 40px;
}

.button-title {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
